

.product_card-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding-bottom: 30px;
  margin-top: 15px;
}
.form{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
}
.form select{
  width: 25%;
}
.select option{
  cursor: pointer;
}
.home_input{
  width: 45%;
}

.product-card{
  margin-top: 3%;
  cursor: pointer;
  border: .5px solid rgb(32, 30, 30);
  width: 250px;
  border-radius: 5%;
  padding: 10px 2% 5px 2%;
  position: relative;
}
.product-image{
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(32, 30, 30);
  position: relative;
}

.product-image img{
  display: block;
  height: 80%;
  width: 80%;
  object-fit: contain;
  margin: 0 auto;
}


.image-first{
  opacity: 0;
  position: absolute;
  transition: opacity .7s ease-in-out;
  background: #fff;
}
.product-image:hover .image-first{
  opacity: 1;
}



.cart_box{
  /* background-color: rgb(28, 28, 27); */
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 2px;
  right: 5%;
  padding: 1px;
}
.cart_box img{
  width: 100%;
  border-radius: 50%;
}
.cart_box:hover{
  box-shadow: 0px 0px 15px .5px rgb(82, 228, 69);
}
