
.card-login{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
}
/* Create Users */
.create-user{
  color: blue;
  margin-top: 0;
  cursor: pointer

}
.noAccount{
  margin-top: 5px;
  color: rgb(35, 182, 21);
  margin-top: 5px;
  margin-bottom: 0;
}
.create-user:hover{
  color: rgb(190, 54, 0);
}