


.quantity{
  margin-top: 3%;
  margin-bottom: 5%;
  display: flex;
  margin-left: 5%;
  width: 25%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.quantity  h6{
  font-size: calc(1px +1%);
}

.quantity-data{
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: fit-content;
  gap: 10px;
  background-color: #424540;
  padding: 0;
  height: 1.5em;
  color: #fff;
  margin: 0 auto;
}
.turn-quantity{
  background-color: transparent;
  border: none;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 100%;
  font-weight: 700;
  color: #fff;
}
.quantity-number{
  width: 2rem;
}
.quantity-name{
  width: fit-content;
  margin: 0 auto;
}
.buy{
  text-align: center;
  width: fit-content;
  gap: 10px;
  background-color: #424540;
  padding: 0 15px;
  height: 1.5em;
  color: #fff;
  cursor: pointer;
  border-radius: 5%;
  margin: 0 auto;
  margin-bottom: 5%;
  
}
.buy:hover{
  background-color: #50524f;
  transform: scale(1.3);
  box-shadow: 1px 1px 3px .5px rgb(89, 241, 89);
}
.turn-quantity:hover{
  background-color: #50524f;
  transform: scale(1.4);
}
.box-price{
  display: inline-flex;
  flex-direction: row;
  gap: 3%;
  justify-content: space-around;
}
.price{
  text-align: center;
  width: fit-content;
  gap: 10px;
  background-color: #424540;
  padding: 0 15px;
  height: 1.5em;
  color: #fff;
  border-radius: 5%;
}
